<%- include("partials/header.ejs") %>
<div class="container date">
  <h1><%= today %></h1>
</div>
<div class="container list">
  <div class="item">
    <input type="checkbox" name="" id="" />
    <p>random note</p>
  </div>
  <div class="userinput item">
    <form action="/" method="post">
      <input
        type="text"
        name="usernote"
        placeholder="Write your note here"
        id=""
      />
      <button type="button">+</button>
    </form>
  </div>
</div>
